version: '3'

services:
    php:
        build:
            context: .
            dockerfile: production/php.Dockerfile
        image: app/php
        networks:
            - app-network
        depends_on:
            - mariadb
            - redis

    nginx:
        build:
            context: .
            dockerfile: production/nginx.Dockerfile
        image: app/nginx
        networks:
            - app-network
        depends_on:
            - php
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.laravel-http.rule=Host(`${APP_DOMAIN}`)"
            - "traefik.http.routers.laravel-http.entrypoints=web"
            - "traefik.http.routers.laravel-http.middlewares=https-redirect"
            - "traefik.http.middlewares.https-redirect.redirectscheme.scheme=https"
            - "traefik.http.routers.laravel-https.rule=Host(`${APP_DOMAIN}`)"
            - "traefik.http.routers.laravel-https.entrypoints=websecure"
            - "traefik.http.routers.laravel-https.tls=true"
            - "traefik.http.routers.laravel-https.tls.certresolver=letsencrypt"
            - "traefik.http.services.laravel.loadbalancer.server.port=80"

    mariadb:
        image: 'mariadb:11.2'
        environment:
            MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ROOT_HOST: '%'
            MYSQL_DATABASE: '${DB_DATABASE}'
            MYSQL_USER: '${DB_USERNAME}'
            MYSQL_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
        volumes:
            - 'mariadb:/var/lib/mysql'
        networks:
            - app-network
        healthcheck:
            test:
                - CMD
                - mysqladmin
                - ping
                - '-p${DB_PASSWORD}'
            retries: 3
            timeout: 5s
    redis:
        image: 'redis:7.2-alpine'
        volumes:
            - 'redis:/data'
        networks:
            - app-network
        healthcheck:
            test:
                - CMD
                - redis-cli
                - ping
            retries: 3
            timeout: 5s
